@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Jost', sans-serif;
}

.custom-img {
	background-image: url('../Images/land.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-attachment: fixed;
	background-size: cover;
}
